affine==2.4.0
aie-ipyleaflet==0.15.1
aie-sdk==3.0.4
aiearth-core==1.0.3
aiearth-engine==3.1.6
aiearth-openapi==1.3.0
aiobotocore==2.15.2
aiohttp==3.9.3
aioitertools==0.12.0
aiosignal==1.3.1
alibabacloud-aiearth-engine20220609==1.1.0
alibabacloud-credentials==0.3.2
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-spi==0.0.1
alibabacloud-openapi-util==0.2.2
alibabacloud-tea==0.3.5
alibabacloud-tea-openapi==0.3.8
alibabacloud-tea-util==0.3.11
alibabacloud-tea-xml==0.0.2
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
async-timeout==4.0.3
attrs==23.2.0
Babel @ file:///C:/b/abs_a2shv_3tqi/croot/babel_1671782804377/work
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
black==24.2.0
bleach==6.1.0
bokeh==3.6.1
botocore==1.35.36
bounded-pool-executor==0.0.3
bqplot==0.12.43
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
cachetools==5.4.0
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.0
color-operations==0.1.5
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
colorcet==3.1.0
comm==0.2.1
comtypes==1.3.0
contourpy==1.2.0
crcmod==1.7
cryptography==38.0.1
cssselect2==0.7.0
cycler==0.12.1
dask==2024.11.2
dask-expr==1.1.19
datashader==0.16.3
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Django==5.0.2
django-filter==23.5
djangorestframework==3.14.0
docopt==0.6.2
earthaccess==0.12.0
entrypoints==0.4
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.103.2
fastjsonschema==2.19.1
filelock==3.12.4
fiona==1.10.1
fonttools==4.46.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.10.0
furo==2024.1.29
geopandas==1.0.1
ghp-import==2.1.0
greenlet==3.0.0
h11==0.14.0
h5netcdf==1.4.1
h5py==3.12.1
holoviews==1.20.0
httpcore==1.0.4
httpie==3.2.2
httpx==0.27.0
hvplot==0.11.1
icepyx==1.3.0
idna==3.4
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.3
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
jieba==0.42.1
Jinja2 @ file:///C:/b/abs_ddyeze2h6_/croot/jinja2_1730903330414/work
jmespath==0.10.0
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
json5 @ file:///C:/b/abs_743lprxrv5/croot/json5_1730786818336/work
jsonpath==0.82.2
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter_client==7.4.9
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab @ file:///C:/b/abs_88qjk9lo2r/croot/jupyterlab_1725895228333/work
jupyterlab_pygments==0.3.0
jupyterlab_server @ file:///C:/b/abs_fdi5r_tpjc/croot/jupyterlab_server_1725865372811/work
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
linkify-it-py==2.0.3
llvmlite==0.43.0
locket==1.0.0
loguru==0.7.2
Markdown==3.6
markdown-checklist==0.4.4
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.7.5
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.2
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
mkdocs==1.5.3
mkdocs-material==9.5.16
mkdocs-material-extensions==1.3.1
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
morecantile==5.3.1
multidict==6.0.5
multimethod==1.12
multipledispatch==1.0.0
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
nest-asyncio==1.6.0
notebook==6.5.6
notebook_shim==0.2.4
numba==0.60.0
numexpr==2.10.1
numpy==1.24.4
opencv-python==4.8.0.76
opt-einsum==3.3.0
oss2==2.18.4
overrides==7.7.0
packaging==23.2
paginate==0.5.6
pandas==2.2.3
pandocfilters==1.5.1
panel==1.5.4
param==2.1.1
parso==0.8.3
partd==1.4.2
pathspec==0.12.1
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.5.0
platformdirs==4.2.0
ply==3.11
pqdm==0.2.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.23.3
psutil==5.9.8
psycopg2==2.9.9
pure-eval==0.2.2
pyarrow==18.1.0
pycparser==2.21
pycryptodome==3.20.0
pyct==0.5.0
pydantic==2.8.2
pydantic_core==2.20.1
pyDes==2.0.1
Pygments==2.17.2
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pymdown-extensions==10.7.1
pyogrio==0.10.0
pyparsing==3.1.1
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
PySocks==1.7.1
pystac==1.9.0
pystac-client==0.7.6
python-cmr==0.13.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2024.1
pyviz_comms==3.0.3
pywifi==1.1.12
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==24.0.1
rasterio==1.3.10
referencing==0.33.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rio-tiler==6.6.1
rpds-py==0.18.0
s3fs==2024.10.0
scikit-learn @ file:///C:/b/abs_aajc9f7v6r/croot/scikit-learn_1722067652693/work/dist/scikit_learn-1.5.1-cp310-cp310-win_amd64.whl#sha256=d3ded78b7bb91f829cb7be157ece5f47bcf4ff0076062ac61a83823f60df892c
scipy @ file:///C:/Users/dev-admin/cr_scipy-release/scipy_1731623378890/work/dist/scipy-1.14.1-cp310-cp310-win_amd64.whl#sha256=b0806979689db0e35099d60654c8efbf9c4feb9f01011de170330d8a2d138e5d
Send2Trash==1.8.2
shapely==2.0.6
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
snuggs==1.4.7
soupsieve==2.5
Sphinx==7.2.6
sphinx-basic-ng==1.0.0b2
sphinx-rtd-theme==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.27.0
terminado==0.18.0
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tinycss2==1.2.1
tinynetrc==1.3.1
tomli==2.0.1
toolz==1.0.0
tornado==6.4
tqdm==4.65.2
traitlets==5.9.0
traittypes==0.2.1
types-python-dateutil==2.8.19.20240106
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
uri-template==1.3.0
urllib3==2.0.7
uvicorn==0.23.2
watchdog==2.1.9
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.10
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
win32-setctime==1.1.0
wrapt==1.17.0
xarray==2024.11.0
xyzservices==2023.10.1
yarg==0.1.9
yarl==1.9.4
zipp==3.21.0
